.list-item{
width: 200px;
background-color: #EBEBEB;
margin: 20px 0;
height: 400px;
padding: 15px;
}
.list-item .title {
    line-height: 50px;
}
.list-item .img{
    text-align: center;
}
.list-item img{
    width: 50%;
}
.title{
font-size: large;
text-align: center;
}
.img .list-name{
    /* width: auto; */
    line-height: 25px;
    color: red;
    font-weight: 600;
    font-size: 13px;
}
.star,.issue,.branch,.full-name{
    width: auto;
    /* height: 60px; */
    line-height: 35px;
}
