html, body{
    height: 100%;
}

.index{
    flex: 1;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
@media screen and (min-width:960px){
    .content .content-item {
        margin: 15px 0;    
    }
}
@media screen and (max-width:960px){
    .content .content-item {
        margin:  10px 0;    
    }
    .banner{
        margin-bottom: 20px;
    }
}

.news{
    flex: 1;
}
.banner {
    position: relative;
    top: -2px;
    width: 100%;
}
.banner img{
    width: 100%;
    /* height: 120px; */
}

/* .content .content-item {
    margin: 25px 0;    
    width: 550px;
    height: 150px;
} */
.content .content-item:hover{
    transform:scale(1.01,1.01);
    cursor: pointer;
    text-decoration: line-through;
}
.content-item .item-left{
    height: 100%;
    width: 45%;
    float: left;
    /* overflow: hidden; */
}
.item-left img{
    width: 100%;
}
.content-item .item-right{
    width: 53%;
    height: 100%;
    padding: 0 5px;
    float: right;
}
.item-right .intro{
    font-family: Microsoft YaHei;
    font-size: 15px;
}
.item-right .intro:hover{
    color: #00f;
    text-decoration: underline;
}
.item-right .create-at{
    line-height: 50px;
    font-size: 8px;
    color: #DCDCDC;
}
.item-right .detailed{
    font-family: Microsoft YaHei;
    font-size: 8px;
}
.pagination {
    text-align: center;
    width: 100%;
    margin: 50px 0;
}
.pagination button{
    position: relative;
    top: 2px;
    cursor: pointer;
    padding: 0 10px;
    font-weight: 600;
}
.not-see{
    color: transparent;
    /* border: transparent 1px solid; */
    border: none;
    background-color: transparent;
}
.pagination span{
    position: relative;
    display: inline-block;
    height: 22px;
    top: 2px;
    border: 1px solid #D7D7D7;
    cursor: pointer;
    padding: 0 10px;
}
.pagination .active{
    background-color: #202124;
    border: 1px solid #202124;
    color: #fff;
}