.header{
    text-align: center;
    padding: 0 200px;
}
.classification{
    display: flex;
    justify-content: center;
}
.classification li{
    width: 100px;
    list-style: none;
    cursor: pointer;
}
.active{
    color: red;
}