footer {
    /* height: 400px; */
    background-color: #D7D7D7;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }

footer .info-item{
    margin-top: 30px;
    height: auto;
    position: relative;
    text-align: center;
    /* border: 1px solid #000; */
}
footer .info-item img{
    height: 100px;
}
footer .description{
    margin-top: 10px;
}
footer .special img{
    width: 60%;
    height: auto;
}
footer .copyright{
    margin-top: 50px;
    width: 100%;
    text-align: center;
    font-size: 15px;
    padding-bottom: 20px;
}
footer .copyright::before {
    content: '';
    display: block;
    width: 130px;
    height: 2px;
    background-color: rgb(197, 169, 169);
    position: relative;
    left: 50%;
    top: -20px;
    transform: translate(-65px);
}