header {
    height: 40px;
    background-color: ivory;
}
header .btn-default{
    border-color: transparent;
}
.yellow{
    background-color: yellow;
    height: 40px;
}
.blue{
    background-color: blue;
    height: 40px;
}
.logo{
    width: 20px;
    position: relative;
    top: 10px;
    border-radius: 50%;
}
.name{
    font-size: normal;
    position: relative;
    top: 10px;
    display: inline-block;
    font-weight: 500;
}
.banner {
    margin-top:10px;
    width: 100%;
    overflow: hidden;
}