body{
    padding: 0;
    margin: 0;
}
@media screen and (min-width:1200px){
    .movie-item .item-intro {
        padding: 0 100px;
    }
}

.banner {
    width: 100%;
    background-color: #eee;
}
.banner .swiper-slide{
    width: 100%;
}
.banner .swiper-slide img {
    width:100%
}

.movie-item{
    justify-content: space-around;
    margin: 15px 0;
}

.movie-item .item-intro{
    height: 300px;
    overflow:hidden;
    width: 50%;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}


.movie-item .item-img{
    width: 50%;
    line-height: 300px;
}
.movie-item .item-intro p {
    margin: 10px 0;
}
.item-intro .movie-name{
    text-align: center;
}
.movie-item .item-img img{
    width: 100%;
}


.news-title {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
}
.news .news-item{
    height: 350px;
    padding:0 10px;
}

.news-item .item-img img{
    width: 100%;
}

.news-item .intro {
    margin-top: 4px;
}
.news-item .main {
    font-size: 12px;
    color: rgb(105, 105, 99);
}

.title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
}
