html, body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
}
.index{
    flex: 1;
}
body{
    padding: 0;
    margin: 0;
}
@media screen and (min-width:1200px){
    .movie-item .item-intro {
        padding: 0 100px;
    }
    .desc{
        font-size: 20px;
    }
}
@media screen and (max-width:1200px){
    .desc{
        font-size: 15px;
    }
}


.banner {
    width: 100%;
    background-color: #eee;
}
.banner .swiper-slide{
    width: 100%;
}
.banner .swiper-slide img {
    width:100%
}
.desc{
    text-align: center; 
    margin-top: 20px; 
    /* font-size: 20px;  */
    font-weight: 600;
}
.movie-item{
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.movie-item .item-intro{
    overflow:hidden;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}


.movie-item{
    margin-bottom: 20px;
}
.movie-item .item-intro p {
    margin: 10px 0;
}
.item-intro .movie-name{
    text-align: center;
}
.movie-item .item-img img{
    width: 100%;
}



.news-title {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
}
.news .news-item{
    height: 350px;
    padding:0 10px;
}

.news-item .item-img img{
    width: 100%;
}

.news-item .intro {
    margin-top: 4px;
}
.news-item .main {
    font-size: 12px;
    color: rgb(105, 105, 99);
}

.title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
}
