.instructions h1{
    text-align: center;
}
.content {
    padding: 0 200px;
}
.content-item{
    width: 30%;
    height: 500px;
    text-align: center;
}

.icon{
    margin-top: 20px;
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: #EEEEEE;
}
.players{
    padding:0 100px;
    display: flex;
}
.players div{
    width: 50%;
}
.players div input{
    width: 80%;
    height: 40px;
    font-size: 20px;
}
.players div button{
    width: 15%;
    height: 46px;
    position: relative;
    top: -3px;
}
