:global{
  .ant-drawer-content{
    overflow: visible;
  }
  .ant-badge-count{
    box-shadow: unset;
  }
}
.content{
  margin: 50px auto;
  max-width: 1200px; 
  .header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
}
.clearfix::after{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.loading {
  width: 100%;
  text-align: center;
  border-radius: 4px;
}