:global{
  .ant-drawer-content{
    overflow: visible;
  }
}
.content{
  margin: 50px auto;
  width: 1000px; 
  .header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
}
.loading {
  padding: 30px 50px;
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}
.self-group{
  display: flex;
  flex-wrap: wrap;
  .self-item{
    width: 25%;
    position: relative;
    padding: 20px;
    border: 1px solid transparent;
    text-align: center;
    margin-bottom: 30px;
    &:hover{
    border: 1px solid #EEEEEE;
    }
    img {
      width: 100%;
    }
    .self-item-title{
      display: block;
      height: 45px;
      font-size: 17px;
      line-height: 20px;
      position: relative;
      margin: 16px 0;
    }
    .after::before{
      content: "";
      width: 20px;
      height: 2px;
      background-color: #eabf00;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -10px;
  }
  .item-val{
    height: 29px;
    b {
      font-size: 1.5rem;
      margin-left: 5px;
    }
  }
  .item-installment{
    color: #9C9B9B;
    font-size: larger;
  }
  .placeholder{
    height: 26px;
  }
    .item-free{
      position: absolute;
      right: 10px;
      top: 10px;
      height: 24px;
      background-color: #1b1a20;
      color: #EEEEEE;
      padding: 0 5px;
    }
    .item-btn{
      width: 100%;
      margin-top: 10px;
      height: 49px;
      background-color: #1b1a20;
      color: #fff;
      font-size: larger;
      border: transparent;
    }
    .item-btn:hover{
      background-color: #EABF00;
    }
  }
}
.aside-button{
  position: fixed;
  top: 0;
  right:0 ;
}
.aside {
 .drawer-button{
   position: absolute;
   background-color: #1b1a20;
   border-color:transparent ;
   border-radius: 0;
   width: 66px;
   left: -65px;
   height: 66px;
   top: 0;
   font-size: larger;
 }
 .header-cart{
  color: #ececec;
  box-sizing: border-box;
  text-align: center;
  padding:29px 0;
 }
 .cart-item{
   height: 135px;
   padding: 22px;
   background-color: #fff;

   img{
     height: 100%;
     float: left;
     background-color: #ececec;
   }
   .item-right{
     float:right
   }
 }
 
}
