footer {
    height: 400px;
    background-color: #D7D7D7;
}
footer .information {
    padding: 50px 200px 0 200px;
    display: flex;
    justify-content: space-between;
}
footer .info-item{
    text-align: center;
    position: relative;
    width: 400px;
    height: 200px;
}
footer .info-item img{
    width: 120px;
}
footer .qrCode {
    position: relative;
    top: -30px;
}
footer .qrCode img {
    width: 200px;
}
footer .qrCode .description {
    position: absolute;  
    top: 210px;
    left: 50%;
    color: rgb(141, 125, 125);
    transform: translate(-50%);
}
footer .description {
    position: absolute;  
    top: 130px;
    left: 50%;
    color: rgb(141, 125, 125);
    transform: translate(-50%);
}
footer .copyright{
    margin-top: 100px;
    width: 100%;
    text-align: center;
    font-size: 15px;
}
footer .copyright::before {
    content: '';
    display: block;
    width: 130px;
    height: 2px;
    background-color: rgb(197, 169, 169);
    position: relative;
    left: 50%;
    top: -20px;
    transform: translate(-65px);
}